@model List<Shop>

<h3>Shops List</h3>

<hr />
<table class="table">
    <tr>
        <th>Shop Id</th>
        <th>Shop Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var shop in Model)
    {
        <tr>
            <td>@shop.Id</td>
            <td>@shop.Name</td>
            <td>                
                @Html.ActionLink("Delete", "Delete", "Shop", new {id = shop.Id}, new {@class = "btn btn-danger"})
                @Html.ActionLink("Edit", "Edit", "Shop", new {id = shop.Id}, new {@class = "btn btn-success"})
            </td>
        </tr>
    }
    <div class="d-flex w-100 justify-content-between">
    @Html.ActionLink("Add", "Add", "Shop", new {}, new {@class = "btn btn-primary"})
    </div>
</table>